.gradle
.idea
.studio
*.ipr
*.iml
*.iws
build
deploy
modules/*/build/*
out
test-run
.DS_Store
.java-version
classes/*
dataSources
.ideaDataSources
jacoco-report
modules/core/src/com/yieldmo/ymcuba/version.properties
modules/polymer-client/logs/
studio-intellij.xml
gradle.properties
modules/cta-front/build-gradle/tmp/war/MANIFEST.MF
modules/cta-front/build-gradle/libs/app-cta-front.war
modules/cta-from/node-modules/